@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    direction: rtl;
  }
}

@layer components {
  .bg-burgundy {
    background-color: #800020;
  }
  .hover\:bg-burgundy-dark:hover {
    background-color: #600018;
  }
  .text-burgundy {
    color: #800020;
  }
  .border-burgundy {
    border-color: #800020;
  }
}